@import "../../../../../../../themes/core-theme";

.option {
  padding: 5px $default-padding;
  display: block;

  &:hover {
    background-color: #313f4a;
    border-radius: 20px;
    cursor: pointer;
  }

  &.title {
    font-weight: bold;
  }
}
