@import './../../../../../../themes/core-theme';

.table {
  font-size: 12px;
}

.fixed-height {
  max-height: 40vh;
  overflow-y: scroll;
}

.group-header {
  font-weight: bold;
}

.group-item {
  text-indent: $default-padding * 2;
}

.focussed {
  font-weight: 800;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
}
