@import "./../../../../../themes/core-theme";

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: black;
  font-size: 11px;
  padding: 5px 15px;
  border-top: 2px solid darken($body-background, 10%);

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }
}
